@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body{
	font-family: 'Pretendard-Regular', sans-serif,'Noto Sans KR', sans-serif, Circular,spotify-circular,Helvetica,Arial,sans-serif;
	margin: 0;
}
.story{
	background-image: url("../img/story.jpg");
	background-size: contain;
	background-position: center;
	height:5380px;
}
.background-color{
	background-color: #f3f1e8;
}
.shop-main-size{
	padding-bottom: 200px;
	background-color: #f3f1e8;
}
.shop-cat-size{
	height:1500px;
	background-color: #f3f1e8;
}
.shop-view-size{
	height:2000px;
	background-color: #f3f1e8;
}
.shop-width{
	margin: 0px 250px;	
}
.pageTitle{
	background-color: #f3f1e8;
	padding-top: 100px;
	margin-bottom: 10px;
	color: black;
	text-align: center;
	font-size: 34px;
	font-weight: 600;
}
.pageTitle-l{
	background-color: #f3f1e8;
	padding-top: 100px;
	margin-bottom: 10px;
	color: black;
	text-align: left;
	font-size: 34px;
	font-weight: 600;
}
.select-button-style{
	text-align: center;
	margin: 0px 5px;
	padding:10px 60px;
	color: #f3f1e8;
	background-color: black;
	border:none;
	font-size: 20px;
	font-weight: 700;
}
.gray-button-style{
	text-align: center;
	margin: 0px 5px;
	padding:10px 60px;
	color: #f3f1e8;
	background-color: #bcbab1;
	border:none;
	font-size: 20px;
	font-weight: 700;
}
.gray-button-style:hover{
	background-color: black;
}
.button-area{
	text-align: center;
}
.underline{
	margin-top: 40px;
	margin-bottom: 120px;  
	border-bottom: 1px solid gray;
	width:1402px;
	margin-left: auto;
	margin-right: auto;
}
.page-underline{
	margin-top: 90px;
	margin-bottom: 90px;  
	border-bottom: 1px solid gray;
	width:1402px;
	margin-left: auto;
	margin-right: auto;
}
.product-container{
	display: flex;
	justify-content: center;
}
.product-container{
	display: grid;
	grid-template-columns: 693px 693px;
	grid-row:auto auto;
	grid-gap:15px;
}
.product-box{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.product-box:hover{
	scale:1.01;
}
.img-titleText{
	position: absolute;
	top:13%;
	left:50%;
	color:#353533;
	font-size:33px;
	font-weight: 700;
	transform: translate(-50%,-50%);
}
.img-subText{
	position: absolute;
	top:93%;
	left:50%;
	color:gray;
	font-weight: 600;
	font-size:18px;
	transform: translate(-50%,-50%);
}
.view-container{
	display: flex;
	justify-content: space-between;
	margin-top:30px;
}
.view-product-img{
	width:100%;
	flex-grow: 3;
}
.text-container{
	width:100%;
	position: relative;
	display: flex;
	justify-content: flex-end;
}
.view-box{
	border: 1px solid black;
	width:80%;
	height: 410px;
	margin-bottom: 70px;
	position: relative;
}
.view-button-container{
	position: absolute;
	bottom:0px;
	 /* transform: translate(-50%, -50%); */
	text-align: center;
}
.black-button{  
	font-size: 20px;
	font-weight: 700;
	padding: 10px 121px;
	background-color: black;
	color:#f3f1e8;
	border:none;
	margin-left: 10px;
}
.view-topBox{
	background-color: #f3f1e8;
	height: 315px;
	padding: 40px;
}
.view-bottomBox{
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	background-color: #e2e0d9;
	height: 95px;
	padding: 15px 40px;
}
.ex-top{
	position: relative;
	height:30px;
	font-weight: 700px;
}
.ex-bottom{
	height:210px;
	width:100%;
}
.ex-title-l{
	position: absolute;
	left:0px;
	font-size: 24px;
	font-weight: 700px;
	color: black;
}
.ex-title-r{
	position: absolute;
	right:0px;
	font-size: 24px;
	font-weight: 700px;
	color: black;
}
.ex-font{
	display: flex;
	align-items: flex-end;
	justify-content: center;
	height: 100%; 
	color: black;
	font-size: 14px;
	line-height: 2em;
}
.bold{
	font-weight: 700;
}
.width{
	width:100%;
}
.width-m-b{
	width:100%;
	margin-bottom: 10px;
}
.left{
	float: left;
}
.right{
	float: right;
}
.inputBox{
	border: 1px solid black;
    background-color: #FAF9F5;
}
.inf-box{
	border: 1px solid black;
	width:100%;
	height: 50px;
	margin-top: 100px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
.inf-titme{
	font-size: 24px;
}

#img-box:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.sm-underline{
	width:200px;
	margin-top: 70px;
	margin-bottom: 100px;  
	border-bottom: 3px solid #F4F2E9;
	position: absolute; 
	top: 35%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	z-index: 1;
}
.inf-text-box{
	width:600px;
	position: absolute; 
	top: 55%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	z-index: 1;
	text-align: center;
}
.inf-text{
	font-size: 18px;
	color: #F4F2E9;
}
.cart-width{
	margin: 0px 400px;	
}
.cart-box{
	width: 100%;
	height: 200px;
	display: flex;
 	border: 1px solid black;
 	position: relative;
 	margin-bottom: -1px;
}

.cartImg-box{
	width: 30%;
	border: 1px solid black;
	margin: -1px;
}
.cartText-box{
	width: 70%;
	padding: 30px;
	position: relative;
}
.top-text{
	font-size: 22px;
	margin-bottom: 50px;
}
.t-a{
	text-decoration: none;
	margin-left: 23px;
	color: black;
	font-weight: lighter;
}
.middle{
	margin-top: 10px;
}
.md-text{
	font-size: 17px;
	color: gray;
	font-weight: 300; 
}
.bottom{
	position: absolute;
	bottom: 30px;	
}
.cart-bottom{
	margin-top: 100px;
	width:100%;
	height:150px;
}
.cart-bottomBox1{
	width:100%;
	height:50%;
	background-color: #e2e0d9;
	border: 1px solid black;
 	padding: 0px 30px;
 	margin-bottom: -1px;
	display: flex;
	align-items: center;
}
.cart-bottomBox2{
	width:100%;
	height:50%;
	background-color: #d7d4d0;
	border: 1px solid black;
	padding: 0px 30px;
	display: flex;
	align-items: center;
}
.cart-right{
	margin-left: auto;
}
.cart-font{
	font-size: 22px;
	font-weight: 500;
}
.cart-button-box{
	margin-top: 40px;
	display: flex;
	justify-content: center;
}
.cart-button{
	font-size: 20px;
	font-weight: 400;
	padding: 10px 50px;
	background-color: black;
	color:#f3f1e8;
	border:none;
	margin: 0px 15px;
}
.cart-none{
	text-align: center;
	height: 400px;
	font-size: 18px;
	padding:auto;
	border: 1px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
}
















